.main {
  position: relative;
  .rootEmpty {
    background: #ffffff;
    border-radius: 30px;
    padding: 26px 16px;
    height: fit-content;
    position: absolute;
    @media (max-width: 768px) {
      width: fit-content;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
      .title {
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
      .count {
        font-size: 1.2rem;
        line-height: 1.6rem;
        background-color: #f2f2f3;
        padding: 2px 16px;
        border-radius: 6px;
        @media (max-width: 768px) {
          margin-left: 27px;
        }
      }
    }
    .text {
      font-size: 1.6rem;
      line-height: 2rem;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.main {
  position: relative;
  .root {
    background: #ffffff;
    border-radius: 30px;
    padding: 26px 16px;
    height: fit-content;
    @media (max-width: 768px) {
      width: fit-content;
      position: absolute;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        margin-bottom: 8px;
      }

      .title {
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
      .count {
        font-size: 1.2rem;
        line-height: 1.6rem;
        background-color: #f2f2f3;
        padding: 2px 16px;
        border-radius: 6px;
        @media (max-width: 768px) {
          margin-left: 129px;
        }
        @media (max-width: 320px) {
          margin-left: 0px;
        }
      }
    }
    .text {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    .bigMedia {
      @media (max-width: 768px) {
        display: none;
      }
      .bottom {
        padding: 16px;
        padding-bottom: 0px;
        .price {
          display: flex;
          justify-content: space-between;
          .total,
          .totalText {
            font-size: 1.6rem;
            line-height: 2.2rem;
          }
        }
        .btn {
          margin-top: 24px;
          .button {
            padding: 12px 55px;
            background-color: #f2f2f3;
            color: #000000;
            border-radius: 12px;
            font-size: 1.6rem;
            line-height: 1.6rem;
            transition-duration: 500ms;
            &:hover {
              color: #ffffff;
              scale: 1.01;
              background-color: #ffab08;
            }
            &:active {
              color: #ffffff;
              scale: 1.01;
              background-color: #f86310;
            }
          }
        }
        .delivery {
          display: flex;
          align-items: center;
          margin-top: 8px;
          .text {
            margin-left: 8px;
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
        }
      }
    }
    .smallMedia {
      display: none;
      @media (max-width: 768px) {
        display: block;
        .bottom {
          padding: 16px;
          padding-bottom: 0px;
          .price {
            display: flex;
            justify-content: space-between;
            .total,
            .totalText {
              font-size: 1.6rem;
              line-height: 2.2rem;
            }
          }
          .btn {
            margin-top: 24px;
            .button {
              padding: 12px 93px;
              background-color: #f2f2f3;
              color: #000000;
              border-radius: 12px;
              font-size: 1.6rem;
              line-height: 1.6rem;
              transition-duration: 500ms;
              &:hover {
                color: #ffffff;
                scale: 1.01;
                background-color: #ffab08;
              }
              &:active {
                color: #ffffff;
                scale: 1.01;
                background-color: #f86310;
              }
            }
          }
          .delivery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 13px;
            .free {
              display: flex;
              align-items: center;
              .text {
                margin-left: 8px;
                font-size: 1.2rem;
                line-height: 1.6rem;
              }
            }
            .collapseBtn {
              .btn {
                margin-top: auto;
                color: #b1b1b1;
              }
            }
          }
        }
      }
    }
  }
}
