.container {
  min-height: 100vh;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-size: 10px;
  line-height: 10px;
}

input {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f9f9f9;
}

*:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}
