.root {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  @media (max-width: 1200px) {
    padding: 0 30px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
