.root {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #f2f2f3;
  .left {
    display: flex;
    .image {
      border-radius: 8px;
    }
    .info {
      .title,
      .weight,
      .price {
        font-size: 1.2rem;
        line-height: 1.6rem;
        display: block;
      }
      .price {
        margin-top: 6px;
      }
    }
  }
  .right {
    align-self: center;
    // padding: 9px 12px;
    // background-color: #f2f2f3;
    // border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    .quantity,
    .button {
      font-size: 1.6rem;
      line-height: 2.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f2f2f3;
      width: 32px;
      height: 36px;
    }
    .quantity {
      width: 30px;
    }
    .button {
      transition-duration: 500ms;
      &:first-of-type {
        border-radius: 12px 0px 0px 12px;
      }
      &:last-of-type {
        border-radius: 0px 12px 12px 0px;
      }
      &:hover {
        cursor: pointer;
        background-color: #ffab08;
      }
      &:active {
        background-color: #f86310;
        scale: 1.01;
      }
    }
  }
}
